@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./markdown.css";

* {
  font-family: "Hind";
}


.bridge-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  background:
  radial-gradient(
    ellipse at center,
    rgba(255,220,235,0.12),
    transparent 70%
  ),
  radial-gradient(
    ellipse at center,
    rgba(120,170,255,0.08),
    transparent 80%
  );
}

.skillsColumn {
  position: relative;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.skillsColumn::after {
  content: "";

  position: absolute;

  left: 50%;
  top: 55%;

  transform: translate(-50%, -50%);

  width: 900px;
  height: 300px;

  background: radial-gradient(
    ellipse at center,
    rgba(255, 220, 235, 0.12),
    transparent 70%
  );

  filter: blur(60px);

  pointer-events: none;

  z-index: 0;
}

/* projects section css */

.projectsSection {
  padding: 8rem 10%;
   color: white;
}

.projectsHeading {
  font-size: clamp(3rem, 7vw, 6rem);
  margin-bottom: 4rem;
  color: white;
    z-index: 10;
    font-size: 4rem;
    letter-spacing: -0.05em;
    color: white;
    text-shadow:
        0 0 20px rgba(255,255,255,0.15),
        0 0 40px rgba(255,220,235,0.08);
        justify-content: center;
        display: flex;
}

.projectsList {
  width: 100%;
   color: white;
}

.projectRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
 color: white;
  padding: 3rem 0;

  border-top: 1px solid rgba(255,255,255,.15);

  text-decoration: none;
  color: inherit;

  transition: all .35s ease;
}

.projectRow:last-child {
  border-bottom: 1px solid rgba(255,255,255,.15);
   color: white;
}

.projectRow:hover {
  padding-left: 1rem;
   color: white;
}

.projectInfo h3 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  margin-bottom: .5rem;
  font-weight: 500;
   color: white;
}

.projectInfo p {
  opacity: .65;
  max-width: 500px;
  line-height: 1.6;
   color: white;
}

.projectArrow {
  font-size: 2rem;
  transition: transform .35s ease;
   color: white;
}

.projectRow:hover .projectArrow {
  transform: translateX(10px);
}
@keyframes projectScroll {

  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* nav scrolling */

html {
  scroll-behavior: smooth;
}

#about,
#projects,
#case-studies,
#contact {
  scroll-margin-top: 120px;
}

/* contact section */

.contactSection {
  min-height: 100vh;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10rem;

  max-width: 1600px;
  margin: 0 auto;

  padding: 0 8rem;

  transform: translateX(-180px);
}

.contactContent {
  max-width: 550px;
  z-index: 10;
  color: #ffffff;
}

.contactHeading {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #ffffff;
}

.contactText {
  font-size: 1.2rem;
  line-height: 1.7;
  opacity: 0.8;
  color: #ffffff;
}

 .moonWrapper::before {
  content: "";

  position: absolute;
  inset: 20%;

  border-radius: 50%;

  background: rgba(255,255,255,0.08);

  filter: blur(80px);

  pointer-events: none;
}

.moonWrapper {
  width: 1100px;
  height: 1100px;

  position: absolute;

  right: -22%;
  top: 50%;

  transform: translateY(-50%);
}
.contactContent {
  position: relative;
  z-index: 5;
  color: #ffffff;
  max-width: 650px; 
}

/* case studies css section */

.caseStudiesSection {
  padding: 8rem 10%;
}

.caseStudiesHeading {
  font-size: 4rem;
  color: white;

  margin-bottom: 4rem;

  letter-spacing: -0.05em;
}

.caseStudiesGrid {
  display: grid;

  grid-template-columns:
    repeat(3, 1fr);

  gap: 6rem 4rem;

  max-width: 1400px;

  margin: 0 auto;
}

.caseStudyCard {
  padding: 0;

  border: none;

  background: transparent;

  transition: .3s ease;
}

.caseStudyCard:hover {
  transform: translateY(-8px);
}
.caseStudyImage {
  width: 100%;

  height: 230px;

  object-fit: cover;

  border-radius: 24px;

  display: block;
}

.caseStudyCard h3 {
  font-size: 2rem;

  margin-top: 2rem;
  margin-bottom: 1rem;

  color: white;

  font-weight: 600;
}

.caseStudyCard p {
  font-size: 1.05rem;

  line-height: 1.8;

  color:
    rgba(255,255,255,.7);

  margin-bottom: 1.5rem;
}

.caseStudyTag {
  padding:
    .6rem
    1rem;

  font-size: .9rem;

  border-radius: 999px;

  border:
    1px solid
    rgba(255,220,235,.25);

  color:
    rgb(225,190,255);

  background:
    rgba(255,220,235,.03);
}

.caseStudyLink {
  margin-top: 1.5rem;

  font-size: 1rem;

  font-weight: 600;

  color: white;
}


